# Privy Configuration
# Get your App ID from https://dashboard.privy.io/
NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_PRIVY_CLIENT_ID=

NEXT_PUBLIC_BET_FACTORY_ADDRESS=

NEXT_PUBLIC_OWNER_ADDRESS=

NEXT_PUBLIC_BRIDGE_SERVICE_URL=